[Unit]
Description=worker for triggerabuild

[Service]
Type=exec
ExecStart=python -m worker.main
WorkingDirectory=%h/soft/triggerabuild
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=default.target
